---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<div class="h-60 bg-gradient-to-r from-slate-500 to-slate-900 grid place-items-center mb-16">
  <h1 class="text-center text-white text-5xl font-serif">{title}</h1>
</div>
