---
---

<nav class="bg-gray-800 text-gray-200 p-5 text-sm">
  <div class="flex justify-around container">
    <div>
      <a
        class="ml-2"
        href="/"
        >Home</a
      >
      <a
        class="ml-5"
        href="/#services"
        >Services</a
      >
    </div>
    <a
      class="ml-2"
      href="/"
      >LOGO</a
    >
    <div>
      <a
        class="ml-2"
        href="/about"
        >About</a
      >
      <a
        class="ml-5"
        href="/#contact"
        >Contact</a
      >
    </div>
  </div>
</nav>
